body {
    background-color: lightgreen;
    font-family: sans-serif;
}
.maintitle {
    color: darkorange;
    font-family: "Lucinda handwriting", cursive, "brush script MT";
    font-size: 3em;
}

.recipeslist, .sectiontitle{
    color: white;
    font-family: Papyrus, "sans-serif", Arial;
    font-size: 1.5em;
}
